<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
		 http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    
    <servlet>
        <servlet-name>HelloWorldServlet</servlet-name>
        <servlet-class>org.luksze.HelloWorldServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GaussianServlet</servlet-name>
        <servlet-class>org.luksze.GaussianServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AsyncServlet</servlet-name>
        <servlet-class>org.luksze.AsyncServlet</servlet-class>
        <async-supported>true</async-supported>
    </servlet>

    <servlet-mapping>
        <servlet-name>HelloWorldServlet</servlet-name>
        <url-pattern>/HelloWorld</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>AsyncServlet</servlet-name>
        <url-pattern>/async</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>GaussianServlet</servlet-name>
        <url-pattern>/gauss</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

</web-app>
